* [K2C16](https://keplerscience.arc.nasa.gov/k2-approved-programs.html#campaign-16)
* [download link to target list](https://keplerscience.arc.nasa.gov/data/campaigns/c16/K2Campaign16targets.csv)

In [1]:
import pandas as pd
import numpy as np

data_dir = '../data'
fname = data_dir+'/K2Campaign16targets.csv'

df=pd.read_csv(fname)#, dtype={' magnitude': float})

In [2]:
df.columns

Index(['EPIC ID', ' RA (J2000) [deg]', ' Dec (J2000) [deg]', ' magnitude',
       ' Investigation IDs'],
      dtype='object')

In [35]:
df.columns = [c.strip() for c in df.columns]

In [36]:
df['magnitude'].loc[22200]

' 18.365'

Strip whitespaces and replace them with `np.nan`

In [37]:
df['magnitude'] = df['magnitude'].replace(r'^\s+$', np.nan, regex=True)

In [39]:
df = df.dropna().sort_values(by='magnitude',ascending=True)
df.head()

,EPIC ID,RA (J2000) [deg],Dec (J2000) [deg],magnitude,Investigation IDs
27755,212177247,133.377779,23.665426,10.0,GO16020_LC|GO16052_LC
17217,211814879,133.287804,17.52679,10.001,GO16052_LC
12247,211629981,137.741823,14.956537,10.001,GO16052_LC
16681,211794319,136.919732,17.236207,10.005,GO16009_LC|GO16021_LC|GO16028_LC
17351,211818898,132.626847,17.584589,10.006,GO16052_LC

In [40]:
df.to_csv(data_dir+'/K2Campaign16targets_edited.csv')